*{
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

main { 
  display: flex; 
  justify-content: center;
  align-content: center;
  
}

.player-title {
  border: 2px black dotted;
  width: 200px;
  height: 550px;
  background-color: white; 
  opacity: 0.8;

}

.game-area {
  border: 2px solid black;
  background-image: url(assets/sea-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 600px;
  width: 1000px;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

  #box {
    background-image: url(assets/boat.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100px;
    width: 200px;
    position: absolute;
    top: 250px;
  }


