*{
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

main { 
  display: flex; 
  justify-content: center;
  align-content: center;
  
}

.game-area {
  border: 2px solid magenta;
  background-color: cornflowerblue;
  height: 600px;
  width: 1000px;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

  #box {
    background-color: purple;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 150px;
  }


